@page
@model Spotter.Pages.Spotted.EditModel

<h4>Plane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Model.Id" />
            <div class="form-group">
                <label asp-for="Model.Make" class="control-label"></label>
                <input asp-for="Model.Make" class="form-control" />
                <span asp-validation-for="Model.Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Model" class="control-label"></label>
                <input asp-for="Model.Model" class="form-control" />
                <span asp-validation-for="Model.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Registration" class="control-label"></label>
                <input asp-for="Model.Registration" class="form-control" />
                <span asp-validation-for="Model.Registration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Location" class="control-label"></label>
                <input asp-for="Model.Location" class="form-control" />
                <span asp-validation-for="Model.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.SeenDateTime" class="control-label"></label>
                <input asp-for="Model.SeenDateTime" class="form-control" />
                <span asp-validation-for="Model.SeenDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
