@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Plane Spotter.</h1>
    <p>Welcome to Plan Spotter. This is an example of a simple CRUD based application to allow for a single person to log basic information about
        the planes they spot. This includes make, model, registration and where it was spotted.</p>
</div>
